.schedule {
   &__title {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
   }
   &__slider {
      border-radius: 5px;
      background: transparent;
      margin: 30px auto;
      width: 90%;
      @media (max-width: $md2) {
         border-radius: 40px;
         width: 95%;
         background-color: $bgLightDark;
      }
      height: 50px;
      transition: all 0.3s ease;
      @media (max-width: $md4) {
         height: 40px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &_indicator {
         display: none;
         @media (max-width: $md2) {
            display: block;
         }
         border-radius: 40px;
         z-index: 1;
         position: absolute;
         left: 0;
         top: 0;
         width: 100/6 * 1%;
         height: 100%;
         background-color: $primary;
         transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
      }
      &_btn {
         cursor: default;
         @media (max-width: $md2) {
            cursor: pointer;
            border-radius: 40px;
            background-color: transparent;
            margin: 0;
         }
         border-radius: 5px;
         background-color: $bgLightDark;
         z-index: 2;
         padding: 0;
         margin: 0 5px;
         line-height: 1;
         color: #fff;
         width: 100/6 * 1%;
         height: 100%;
         font-weight: bold;
         font-size: 16px;
         transition: all 0.3s ease;
         &--title {
            &--expand {
               display: inline;
               @media (max-width: $md3) {
                  display: none;
               }
            }
            &--tablet {
               display: none;
               @media (max-width: $md3) {
                  display: inline;
               }
               @media (max-width: $md4) {
                  display: none;
               }
            }
            &--mobile {
               display: none;
               @media (max-width: $md4) {
                  display: inline;
               }
            }
         }
      }
   }
   &__timetable {
      display: flex;
      @media (max-width: $md2) {
         justify-content: center;
      }
   }
   &__time {
      width: 5%;
      align-self: flex-start;
      @media (max-width: $md2) {
         display: none;
      }
   }
   &__list {
      flex: 0 0 90%;
      display: flex;
      justify-content: flex-start;
      @media (max-width: $md2) {
         flex: 0 0 95%;
         position: relative;
      }
   }
   &__modal {
      z-index: 999999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: $bgDark, $alpha: 0.8);
      overflow-y: auto;
      padding-top: 50px;
      padding-bottom: 10px;
      @media (max-width: $md4) {
         padding-top: 10px;
      }
      opacity: 0;
      display: none;
      transition: all 0.3s ease;
      &_content {
         width: 500px;
         min-height: 500px;
         margin: 0 auto;
         transition: all 0.3s ease;
         transform: translateY(-50px);
         @media (max-width: $md3) {
            width: 450px;
         }
         @media (max-width: $md4) {
            width: 95%;
         }
      }
      &.active {
         opacity: 1;
         .schedule__modal_content {
            transform: translateY(0);
         }
      }
   }
}
.time {
   &__elem {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 150px;
      span {
         margin: 5px 0;
         font-weight: bold;
         transition: all 0.3s ease;
         padding-left: 5px;
         &.time__elem_start {
            border-left: 3px solid $timeStart;
         }
         &.time__elem_end {
            border-left: 3px solid $timeEnd;
         }
      }
   }
}
.schedule-day {
   width: 100/6 * 1%;
   transition: all 0.3s ease;
   @media (max-width: $md2) {
      min-width: 100%;
      display: none;
      &.active {
         display: block;
         & .schedule-day__subj {
            opacity: 1;
         }
      }
   }
   &__subj {
      height: 150px;
      padding: 10px;
      transition: all 0.3s ease;
      &_empty {
         background-color: transparent;
      }
      &_content {
         width: 100%;
         height: 100%;
         outline: none;
         border: none;
         border-radius: 5px;
         background: $primary;
         @media (prefers-color-scheme: dark) {
            background-color: $bgLightDark;
         }
         transition: all 0.3s ease;
         &:hover {
            transform: scale(1.04);
            cursor: pointer;
         }
      }
   }
   &__folder {
      height: 150px;
      padding: 10px;
      transition: all 0.3s ease;
      &.ongoing button {
         border-left: 5px solid $ongoing;
      }
      &.soon button {
         border-left: 5px solid $soon;
      }
      &_list {
         width: 100%;
         height: 100%;
         outline: none;
         border: none;
         border-radius: 5px;
         background-color: rgba($color: $primary, $alpha: 0.5);
         padding: 10px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-wrap: wrap;
         @media (prefers-color-scheme: dark) {
            background-color: rgba($color: $bgLightDark, $alpha: 0.3);
         }
         transition: all 0.3s ease;
         &:hover {
            transform: scale(1.04);
            cursor: pointer;
         }
      }
      &_elem {
         border-radius: 5px;
         background-color: $primary;
         @media (prefers-color-scheme: dark) {
            background-color: $bgLightDark;
         }
         &:first-child:nth-last-child(1) {
            width: 100%;
            height: 100%;
         }
         &:first-child:nth-last-child(2),
         &:first-child:nth-last-child(2) ~ & {
            width: 49%;
            height: 100%;
         }
         &:first-child:nth-last-child(3),
         &:first-child:nth-last-child(3) ~ & {
            width: 49%;
            height: 45%;
            &:last-child {
               width: 100%;
            }
         }
         &:first-child:nth-last-child(4),
         &:first-child:nth-last-child(4) ~ & {
            width: 49%;
            height: 45%;
         }
         position: relative;
         &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f073";
            font-size: 20px;
            font-weight: bold;
            color: $textDark;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
      }
      &_modal {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
         background-color: rgba($color: $primary, $alpha: 0.5);
         @media (prefers-color-scheme: dark) {
            background-color: rgba($color: $bgLightDark, $alpha: 0.5);
         }
         @media (max-width: $md3) {
            background-color: transparent !important;
         }
         border-radius: 5px;
         .schedule-day__subj {
            @media (max-width: $md3) {
               background-color: rgba($color: $primary, $alpha: 0.5);
               @media (prefers-color-scheme: dark) {
                  background-color: rgba($color: $bgLightDark, $alpha: 0.5);
               }
            }
            width: 225px;
            height: 150px;
            .schedule-subj__time {
               display: inline;
            }
            .schedule-subj__name {
               font-size: 14px;
            }
         }
      }
   }
}
.schedule-subj {
   position: relative;
   color: #fff;
   padding: 0 10px;
   &.ongoing {
      border-left: 5px solid $ongoing;
   }
   &.soon {
      border-left: 5px solid $soon;
   }
   &__teacher {
      position: absolute;
      top: 10px;
      left: 10px;
      opacity: 0.7;
   }
   &__class {
      position: absolute;
      top: 10px;
      right: 10px;
      opacity: 0.7;
   }
   &__type {
      position: absolute;
      bottom: 10px;
      left: 10px;
      opacity: 0.7;
   }
   &__time {
      position: absolute;
      bottom: 10px;
      right: 10px;
      opacity: 0.7;
      display: none;
      @media (max-width: $md2) {
         display: inline;
      }
   }
   &__degree {
      display: none;
   }
   &__name {
      font-weight: bold;
      @media (max-width: $md2) {
         font-size: 24px;
      }
      @media (max-width: $md4) {
         font-size: 14px;
      }
   }
   &__groups {
      display: none;
   }
}
.modal-content {
   background-color: $bgLight;
   border-radius: 5px;
   padding: 40px;
   @media (prefers-color-scheme: dark) {
      background-color: $bgLightDark;
   }
   @media (max-width: $md4) {
      padding: 20px;
   }
   position: relative;
   .close-modal {
      background-color: transparent;
      font-size: 20px;
      position: absolute;
      top: 20px;
      right: 20px;
      @media (prefers-color-scheme: dark) {
         color: $textDark;
      }
   }
   &.ongoing {
      border-top: 5px solid $ongoing;
   }
   &.soon {
      border-top: 5px solid $soon;
   }
   &__subj {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      @media (max-width: $md4) {
         padding: 0 20px;
         margin-top: 20px;
      }
   }
   &__time {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      span {
         line-height: 1;
         border-radius: 5px;
         padding: 15px 25px;
         width: 48%;
         text-align: center;
         color: #fff;
      }
      &_start {
         background-color: $timeStart;
      }
      &_end {
         background-color: $timeEnd;
      }
   }
   &__block {
      padding: 20px;
      border-radius: 5px;
      background-color: darken($color: $bgLight, $amount: 10%);
      @media (prefers-color-scheme: dark) {
         background-color: darken($color: $bgLightDark, $amount: 5%);
      }
      margin: 20px 0;
      &_title {
         font-weight: bold;
      }
      &_list {
         padding: 10px;
         padding-bottom: 0;
      }
      &_elem {
         margin: 5px 0;
         &:first-child {
            margin-top: 0;
         }
         &:last-child {
            margin-bottom: 0;
         }
      }
      &_text {
         padding: 10px;
         padding-bottom: 0;
      }
      &.mbc {
         margin-bottom: 0;
      }
   }
}
