.select {
   margin-top: -130px;
   @media (max-width: $md3) {
      margin-top: 0px;
   }
   flex: 1 1 auto;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   &__title {
      font-weight: bold;
      font-size: 36px;
      @media (max-width: $md3) {
         font-size: 24px;
      }
      color: $textLight;
      @media (prefers-color-scheme: dark) {
         color: $textDark;
      }
      margin-bottom: 15px;
      text-align: center;
      transition: all 0.3s ease;
   }
   &__subtitle {
      font-size: 18px;
      margin-bottom: 50px;
      opacity: 0.7;
      color: $textLight;
      @media (prefers-color-scheme: dark) {
         color: $textDark;
      }
   }
   &__form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      @media (max-width: $md3) {
         width: 50%;
         flex-direction: column;
      }
      @media (max-width: $md4) {
         width: 70%;
      }
      select {
         margin: 0 10px;
         @media (max-width: $md3) {
            margin: 5px 0;
            width: 100%;
         }
      }
      &_btn {
         font-weight: bold;
         font-size: 18px;
         padding: 10px 20px;
         border-radius: 5px;
         color: $textDark;
         background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
         background-size: 300% 100%;
         transition: all 0.3s ease;
         margin: 0 10px;
         @media (max-width: 828px) {
            margin-top: 20px;
         }
         @media (max-width: $md3) {
            margin: 5px 0;
            width: 100%;
         }
         &:hover {
            background-position: 100% 0;
         }
      }
   }
}
#add-group {
   .select__form {
      @media (max-width: $md3) {
         width: 400px;
      }
      @media (max-width: $md4) {
         width: 300px;
      }
      &_btn {
         @media (max-width: 828px) {
            margin-top: 0;
         }
         @media (max-width: $md3) {
            margin: 5px 0;
         }
      }
      #alert {
         top: -300%;
         @media (max-width: $md3) {
            top: -100px;
         }
      }
   }
}
