.header {
   z-index: 1;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   height: 100px;
   &__content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 10px;
   }
   &__logo {
      height: 50%;
      img {
         height: 100%;
      }
      @media (max-width: $md4) {
         height: 30%;
      }
   }
}
.menu {
   display: flex;
   align-items: stretch;
   .btn {
      margin: 0 5px;
      @media (max-width: $md4) {
         padding: 9px 11px;
      }
   }
   .lang {
      position: relative;
      display: flex;
      border-radius: 5px;
      &__btn {
         padding-left: 20px;
         padding-right: 20px;
         @media (max-width: $md4) {
            padding-left: 15px;
            padding-right: 15px;
         }
      }
      &__dropdown {
         position: absolute;
         transition: all 0.3s ease;
         display: flex;
         width: 80%;
         flex-direction: column;
         border-radius: 5px;
         overflow: hidden;
         display: flex;
         flex-direction: column;
         left: 50%;
         transform: translateX(-50%);
         top: 70%;
         opacity: 0;
         visibility: hidden;
         &.active {
            top: 120%;
            opacity: 1;
            visibility: visible;
            overflow: hidden;
         }
         .btn {
            width: 100%;
            border-radius: 0;
            text-align: center;
            margin: 0;
         }
      }
   }
}
