@import "components/loader";
@import "components/footer";
@import "components/nav";
@import "components/btn";
@import "components/alert";
@import "components/modal";
@import "components/block";
@import "components/tab";
@import "components/tabs";
@import "components/group";
@import "components/exam";
@import "components/groupmate";
@import "components/teacher";

@import "pages/index";
@import "pages/select";
@import "pages/profile";
@import "pages/search";
@import "pages/schedule";
