body {
   font-size: 16px;
   transition: all 0.3s ease;
   background-color: $bgLight;
   color: $textLight;
   display: flex;
   flex-direction: column;
   overflow-x: hidden;
   @media (prefers-color-scheme: dark) {
      background-color: $bgDark;
      color: $textDark;
   }
   &.lock {
      overflow: hidden;
   }
}
*::-webkit-scrollbar {
   width: 3px;
   height: 3px;
   background-color: $bgLight;
   transition: all 0.3s ease;
   @media (prefers-color-scheme: dark) {
      background-color: $bgDark;
   }
}
*::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: $primary;
   transition: all 0.3s ease;
}
#app {
   flex: 1 1 auto;
   width: 100%;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.wrapper {
   flex: 1 1 auto;
   width: 100%;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.container {
   max-width: $maxWidthContainer;
   margin: 0 auto;
}
.page {
   flex: 1 1 auto;
   padding-top: 130px;
   &.center {
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
