.exams {
   &__container {
      width: 80%;
      @media (max-width: $md3) {
         width: 95%;
      }
      margin: 0 auto;
   }
   &__list {
      padding: 40px;
      @media (max-width: $md3) {
         padding: 20px;
      }
      @media (max-width: $md4) {
         padding: 0;
      }
   }
   &__elem {
      width: 100%;
      background-color: #36393f;
      color: #fff;
      padding: 40px;
      @media (max-width: $md3) {
         padding: 30px;
      }
      @media (max-width: $md4) {
         padding: 10px;
      }
      margin: 40px 0;
      border-radius: 10px;
      &:first-child {
         margin-top: 0;
      }
      &:last-child {
         margin-bottom: 0;
      }
      &_subj {
         text-align: center;
         font-weight: bold;
         font-size: 24px;
         @media (max-width: $md4) {
            font-size: 18px;
            padding: 0 20px;
            padding-top: 20px;
         }
      }
   }
   &__blocks {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
   }
   &__block {
      flex: 1 1 40%;
      @media (max-width: $md3) {
         flex: 1 1 100%;
      }
      @media (max-width: $md4) {
         padding: 10px;
      }
      min-width: 40%;
      margin: 10px;
      padding: 20px;
      border-radius: 5px;
      background-color: #292b2f;
      &_title {
         font-weight: bold;
         font-size: 16px;
      }
      &_text {
         font-size: 18px;
         margin-top: 10px;
         margin-left: 10px;
      }
   }
}
