.footer {
   &__content {
      padding: 25px 0;
      &_text {
         @media (max-width: $md4) {
            font-size: 14px;
         }
         transition: all 0.3s ease;
         color: #fff;
         text-align: center;
         & a {
            font-weight: bold;
            transition: all 0.3s ease;
            color: #fff;
         }
      }
   }
}
