#loading-ovarlay {
	z-index: 9999;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	$offset: 187;
	$duration: 1.4s;
	transition: opacity 0.3s ease;
	opacity: 1;
	&.hide {
		opacity: 0;
	}
	.spinner {
		animation: rotator $duration linear infinite;
	}
	@keyframes rotator {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(270deg);
		}
	}
	.path {
		stroke-dasharray: $offset;
		stroke-dashoffset: 0;
		transform-origin: center;
		stroke: #fff;
		animation: dash $duration ease-in-out infinite, colors ($duration * 4) ease-in-out infinite;
	}
	@keyframes dash {
		0% {
			stroke-dashoffset: $offset;
		}
		50% {
			stroke-dashoffset: $offset/4;
			transform: rotate(135deg);
		}
		100% {
			stroke-dashoffset: $offset;
			transform: rotate(450deg);
		}
	}
}
#search-overlay {
	z-index: 9999;
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
	transition: all 0.3s ease;
	display: none;
	opacity: 1;
	&.hide {
		opacity: 0;
	}
	.search__form {
		margin: 0;
		padding: 0;
	}
	.close-overlay {
		position: absolute;
		top: 50px;
		right: 50px;
		font-size: 38px;
		@media (max-width: $md3) {
			top: 20px;
			right: 20px;
			font-size: 30px;
		}
		background-color: transparent;
		color: #fff;
	}
}
.header {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	&__content {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
		@media (max-width: $md3) {
			padding: 0 20px;
		}
	}
	&__logo {
		height: 70%;
		& img {
			height: 100%;
		}
		@media (max-width: $md4) {
			height: 50%;
		}
	}
	&__menu {
		display: flex;
		align-items: center;
	}
}
.menu {
	&__btn {
		color: #fff;
		font-size: 18px;
		margin-right: 15px;
		padding: 14px;
		background-color: transparent;
		border-radius: 5px;
		transition: all 0.3s ease;
		line-height: 1;
		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
	.lang {
		position: relative;
		&__btn {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 13px 20px;
			@media (max-width: $md4) {
				padding: 10px 18px;
			}
			transition: all 0.3s ease;
			color: #fff;
			background-color: $primaryBtnBgColorDark;
			&:hover {
				background-color: lighten($primaryBtnBgColorDark, 10%);
			}
			&_drop {
				border-radius: 5px;
			}
			&_title {
				font-size: 18px;
				@media (max-width: $md4) {
					font-size: 16px;
				}
				font-weight: bold;
				transition: all 0.3s ease;
			}
			&_down {
				display: inline-block;
				width: 10px;
				height: 10px;
				margin-left: 5px;
				@media (max-width: $md4) {
					margin-left: 3px;
				}
				margin-bottom: 2px;
				svg {
					transition: all 0.3s ease;
				}
			}
		}
		&__dropdown {
			position: absolute;
			border-radius: 5px;
			overflow: hidden;
			top: 90%;
			visibility: hidden;
			opacity: 0;
			left: 50%;
			transform: translateX(-50%);
			transition: all 0.3s ease;
			&_active {
				visibility: visible;
				opacity: 1;
				top: 120%;
			}
		}
	}
}
