body#home-page {
   #bg {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      svg {
         width: 100%;
         height: 100%;
         transition: all 0.3s ease;
         path {
            transition: all 0.3s ease;
         }
         & .leftTop {
            fill: $homeBgColorDarkLT;
         }
         & .rightBottom {
            fill: $homeBgColorDarkRB;
         }
      }
      &.active {
         svg .leftTop {
            transform: translate(5%, 10%);
         }
         svg .rightBottom {
            transform: translate(-5%, -10%);
         }
      }
   }
   & .page {
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
.search {
   color: #fff;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   &__title {
      font-size: 36px;
      @media (max-width: $md4) {
         font-size: 24px;
      }
      font-weight: bold;
      transition: all 0.3s ease;
   }
   &__subtitle {
      font-size: 24px;
      @media (max-width: $md4) {
         font-size: 18px;
      }
      font-weight: bold;
      transition: all 0.3s ease;
   }
   &__openid {
      color: #fff;
      background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
      margin-top: 20px;
      font-weight: bold;
      background-size: 300% 100%;
      padding: 15px 50px;
      font-size: 18px;
      border-radius: 5px;
      transition: all 0.3s ease;
      &:hover {
         background-position: 100% 0;
         letter-spacing: 2px;
      }
      & i {
         margin-right: 5px;
      }
   }
   &__form {
      display: flex;
      align-items: stretch;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 20px;
      border-radius: 40px;
      & input,
      & button {
         background-color: #fff;
         color: black;
         line-height: 1.1;
         margin: 0;
         padding: 0;
         font-weight: bold;
         font-size: 16px;
         transition: all 0.3s ease;
      }
      & input {
         width: 400px;
         @media (max-width: $md4) {
            width: 240px;
         }
         padding: 20px;
         border-radius: 40px 0 0 40px;
         &:focus {
            padding: 30px;
            & ~ button {
               padding: 30px 35px;
            }
         }
         &::placeholder {
            line-height: 1;
         }
      }
      & button {
         padding: 20px 25px;
         border-radius: 0 40px 40px 0;
         border: none;
         outline: none;
         &:hover {
            color: #457b9d;
         }
      }
   }
}
