#alert {
   position: fixed;
   color: $bgLight;
   z-index: 20;
   left: 50%;
   top: 0;
   transform: translateX(-50%);
   width: 300px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   opacity: 0;
   visibility: hidden;
   font-size: 16px;
   strong {
      text-align: center;
      font-size: 20px;
   }
   span {
      margin-top: 10px;
   }
   button {
      position: absolute;
      background-color: transparent;
      width: 25px;
      height: 25px;
      top: 5px;
      right: 5px;
      color: $textDark;
   }
   transition: all 0.3s ease;
   background-color: darken($color: $bgLight, $amount: 10%);
   @media (prefers-color-scheme: dark) {
      background-color: lighten($color: $bgDark, $amount: 10%);
   }
   &.error {
      background-color: $error;
   }
   &.success {
      background-color: $success;
      color: $textLight;
      button {
         color: $textLight;
      }
   }
   &.active {
      top: 30px;
      @media (max-width: $md4) {
         top: 100px;
      }
      opacity: 1;
      visibility: visible;
   }
}
