.block {
   &.expand {
      flex: 1 1 auto;
   }
   &__content {
      border-radius: 5px;
      padding: 20px;
      background-color: rgba($color: #000000, $alpha: 0.07);
      @media (prefers-color-scheme: dark) {
         background-color: rgba($color: #000000, $alpha: 0.2);
      }
      margin: 5px 0;
      @media (max-width: $md4) {
         padding: 10px;
      }
   }
}
.blocks__title {
   font-size: 18px;
   font-weight: bold;
   margin: 20px 0;
   @media (max-width: $md4) {
      margin-top: 10px;
   }
}
