.btn {
   color: $textDark;
   font-size: 18px;
   padding: 12px 14px;
   border-radius: 5px;
   background-color: $primary;
   font-weight: bold;
   transition: all 0.3s ease;
   &.secondary {
      color: $textLight;
      background-color: $success;
      &:hover {
         background-color: lighten($color: $success, $amount: 10%);
      }
   }
   &:hover {
      background-color: lighten($color: $primary, $amount: 10%);
   }
   @media (prefers-color-scheme: dark) {
      &:hover {
         background-color: darken($color: $primary, $amount: 10%);
      }
      &.secondary {
         &:hover {
            background-color: darken($color: $success, $amount: 10%);
         }
      }
   }
   &.tr {
      background-color: transparent;
      color: $textLight;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
         background-color: rgba($color: $bgDark, $alpha: 0.1);
      }
      @media (prefers-color-scheme: dark) {
         color: $textDark;
         &:hover {
            background-color: rgba($color: $bgLight, $alpha: 0.1);
         }
      }
   }
   &.outline {
      background-color: transparent;
      color: $primary;
      border: 1px solid $primary;
      &:hover {
         background-color: $primary;
         color: $textDark;
      }
      &.success {
         color: $success;
         border-color: $success;
         &:hover {
            background-color: $success;
            color: $textLight;
         }
      }
   }
}
