.footer {
   &-content {
      padding: 25px 0;
      &-text {
         transition: all 0.3s ease;
         color: $textLight;
         @media (prefers-color-scheme: dark) {
            color: $textDark;
         }
         text-align: center;
         a {
            font-weight: bold;
            transition: all 0.3s ease;
            color: $textLight;
            @media (prefers-color-scheme: dark) {
               color: $textDark;
            }
         }
         @media (max-width: $md4) {
            font-size: 14px;
         }
      }
   }
}
