.tab {
   flex: 1 1 100%;
   min-height: 100%;
   padding: 40px 50px;
   padding-top: 100px;
   padding-left: 350px;
   display: flex;
   flex-direction: column;
   transition: all 0.3s ease;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
   background-color: $bgLight;
   @media (prefers-color-scheme: dark) {
      background-color: $bgLightDark;
   }
   @media (max-width: $md2) {
      padding-left: 50px;
   }
   @media (max-width: $md4) {
      padding: 10px;
      padding-top: 100px;
   }
   &__title {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
      @media (max-width: $md4) {
         font-size: 24px;
      }
   }
}
