.tab {
   position: absolute;
   width: 100%;
   height: 100%;
   padding: 40px 50px;
   padding-top: 100px;
   display: flex;
   @supports (-webkit-touch-callout: none) {
      display: none;
   }
   flex-direction: column;
   transition: all 0.3s ease;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
   top: -100%;
   opacity: 0;
   visibility: hidden;
   background-color: $bgLight;
   @media (prefers-color-scheme: dark) {
      background-color: $bgLightDark;
   }
   @media (max-width: $md4) {
      padding: 10px;
      padding-top: 100px;
   }
   &__title {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
      @media (max-width: $md4) {
         font-size: 24px;
      }
   }
   &.active {
      top: 0;
      opacity: 1;
      visibility: visible;
      @supports (-webkit-touch-callout: none) {
         display: flex;
      }
   }
   &.bottom {
      top: 100%;
   }
   &.top {
      top: -100%;
   }
   &.center-block-title {
      .block__title {
         text-align: center;
      }
   }
}
