.profile-teacher {
   &-link {
      font-weight: bold;
      font-size: 24px;
      color: $textLight !important;
      @media (prefers-color-scheme: dark) {
         color: $textDark !important;
      }
   }
   p {
      margin: 10px 0;
      opacity: 0.7;
   }
   a {
      color: $success;
   }
   @media (max-width: $md4) {
      padding: 20px;
   }
}
